
	DECLARE @daData nvarchar(10)
	DECLARE @daCodArt nvarchar(50)
	DECLARE @aCodArt nvarchar(50)
	DECLARE @fascia int
	DECLARE @codCliente nvarchar(10)
	--DECLARE @colOrder nvarchar(50)
	--DECLARE @PageNumber int = 1
	--DECLARE @PageSize int = 100
	--DECLARE @sortOrder1 nvarchar(5)
	--DECLARE @sortColumn1 nvarchar(20)
	--DECLARE @sortOrder2 nvarchar(5)
	--DECLARE @sortColumn2 nvarchar(20)

	
	SET @daData = '01/01/1900'
	SET @daCodArt = '000000'
	SET @aCodArt = 'ZZZZZZZZ'
	SET @fascia = 0
	SET @codCliente = '0301035'

	SELECT OCORDTNORD, OCORDTDORD, Convert(nvarchar(10), OCORDTDORD, 3) As dataOrdi, OCORDDCART, OCORDDACLI, OCORDDIRIG, OCORDTLPRE, OCORDDQTAD, Cast(OCORDDQDAE As nvarchar(20)) As QDAE, OCORDDFASC, TBUDMI_1.TBUDMISIGL, OCORDDRIFO, Convert(nvarchar(10), OCORDDDRIO, 3) As dataRifOrdi, (CASE WHEN OCORDDFASC='0' THEN OCORDDLUNF + 'x' + OCORDDLARF ELSE OCORDDFASC END) As fascia, CAPRCLSPEC,
		IsNull(OCORDTDESS, '') + ' ' + IsNull(OCORDTFORM, '') + ' ' + IsNull(OCORDTLAL1, '') + ' ' + IsNull(OCORDTASL1, '') + (CASE WHEN OCORDTLATE='1' THEN ' (Ext.) ' ELSE '' END) + IsNull(OCORDTLAL2, '') + ' ' + IsNull(OCORDTASL2, '') + (CASE WHEN OCORDTLATE='2' THEN ' (Ext.)' ELSE '' END) As descrizione--, OCORDEQDAE, OCORDEEVAS, Convert(nvarchar(10), OCORDEDTEV, 3) As dataEvas
		, PLBANCPROG, PLBANCNBOB, dbo.Giant_PO_PesoLordo(PLBANCPROG) as Lordo, dbo.Giant_PO_QtaOrdineUDM1(OCORDDNORD) as Qta,
		(SELECT COUNT(PLBANCPROG) FROM PLBANC as BANC WHERE BANC.PLBANCNORD = OCORDDNORD AND BANC.PLBANCORIG = OCORDDIRIG) as BancTot,
		(SELECT SUM(PLBANCNBOB) FROM PLBANC as BANC WHERE BANC.PLBANCNORD = OCORDDNORD AND BANC.PLBANCORIG = OCORDDIRIG) as BobineTot,
		(SELECT SUM(dbo.Giant_PO_PesoLordo(BANC.PLBANCPROG)) FROM PLBANC as BANC WHERE BANC.PLBANCNORD = OCORDDNORD AND BANC.PLBANCORIG = OCORDDIRIG) as LordoTot,
		(SELECT SUM(dbo.Giant_PO_QtaOrdineUDM1(PLBANCNORD)) FROM PLBANC as BANC WHERE BANC.PLBANCNORD = OCORDDNORD AND BANC.PLBANCORIG = OCORDDIRIG) as QtaTot
	--INTO #temp_ordi_cliente
	FROM OCORDT INNER JOIN OCORDD ON OCORDTNORD = OCORDDNORD 
	INNER JOIN OCTORD ON OCORDTTORD = OCTORDCODI 
	INNER JOIN MAANAG ON OCORDDCART = MAANAGCODI
	INNER JOIN TBUDMI ON OCORDDUDM1 = TBUDMICODI  
	INNER JOIN OCSTAT ON OCORDTSTAT = OCSTATCODI 
	INNER JOIN CAPRCL ON OCORDTCLIE=CAPRCLCLIE AND OCORDTCCOM=CAPRCLCODI
	LEFT JOIN TBUDMI AS TBUDMI_1 ON OCORDTUDMI = TBUDMI_1.TBUDMICODI 
	LEFT JOIN (
		SELECT TOP (100) PERCENT OCORDENORD, OCORDEIRIG, MAX(OCORDEDTEV) AS MaxOCORDEDTEV 
		FROM OCORDE 
		GROUP BY OCORDENORD, OCORDEIRIG 
		ORDER BY MaxOCORDEDTEV DESC
	) AS DATAEVASIONE ON OCORDD.OCORDDNORD = DATAEVASIONE.OCORDENORD AND OCORDD.OCORDDIRIG = DATAEVASIONE.OCORDEIRIG 
	LEFT JOIN (
		SELECT * FROM PLBANC 
		WHERE PLBANCSTAT = '3'
	) PLBANC ON OCORDD.OCORDDNORD = PLBANC.PLBANCNORD AND OCORDD.OCORDDIRIG = PLBANC.PLBANCORIG
	WHERE (OCORDTCLIE=@codCliente) AND (OCTORDSTAT='1') And (OCTORDBOLL='1') And (OCSTATSORD='1') And (OCORDDEVAS<>'S' Or OCORDDEVAS Is Null) And (OCORDDCONC>=@daData) And (OCORDDCART>=@daCodArt) And (OCORDD.OCORDDCART<=@aCodArt) And (OCORDD.OCORDDFASC>=@fascia) And (TBUDMI.TBUDMIORDC='1') 
	OPTION	(RECOMPILE)

	--SELECT * FROM #temp_ordi_cliente 
	--ORDER BY 
	--	(CASE WHEN @sortOrder1 <> 'ASC' THEN Null 
	--	WHEN @sortColumn1 = 'OCORDTDORD' THEN OCORDTDORD
	--	END) ASC,
	--	(CASE WHEN @sortOrder1 <> 'DESC' THEN Null 
	--	WHEN @sortColumn1 = 'OCORDTDORD' THEN OCORDTDORD
	--	END) DESC,
	--	(CASE WHEN @sortOrder1 <> 'ASC' THEN Null 
	--	WHEN @sortColumn1 = 'OCORDDCART' THEN OCORDDCART
	--	END) ASC,
	--	(CASE WHEN @sortOrder1 <> 'DESC' THEN Null 
	--	WHEN @sortColumn1 = 'OCORDDCART' THEN OCORDDCART
	--	END) DESC,
	--	(CASE WHEN @sortOrder1 <> 'ASC' THEN Null 
	--	WHEN @sortColumn1 = 'OCORDDACLI' THEN OCORDDACLI
	--	END) ASC,
	--	(CASE WHEN @sortOrder1 <> 'DESC' THEN Null 
	--	WHEN @sortColumn1 = 'OCORDDACLI' THEN OCORDDACLI
	--	END) DESC,

	--	(CASE WHEN @sortOrder2 <> 'ASC' THEN Null 
	--	WHEN @sortColumn2 = 'OCORDTDORD' THEN OCORDTDORD
	--	END) ASC,
	--	(CASE WHEN @sortOrder2 <> 'DESC' THEN Null 
	--	WHEN @sortColumn2 = 'OCORDTDORD' THEN OCORDTDORD
	--	END) DESC,
	--	(CASE WHEN @sortOrder2 <> 'ASC' THEN Null 
	--	WHEN @sortColumn2 = 'OCORDDCART' THEN OCORDDCART
	--	END) ASC,
	--	(CASE WHEN @sortOrder2 <> 'DESC' THEN Null 
	--	WHEN @sortColumn2 = 'OCORDDCART' THEN OCORDDCART
	--	END) DESC,
	--	(CASE WHEN @sortOrder2 <> 'ASC' THEN Null 
	--	WHEN @sortColumn2 = 'OCORDDACLI' THEN OCORDDACLI
	--	END) ASC,
	--	(CASE WHEN @sortOrder2 <> 'DESC' THEN Null 
	--	WHEN @sortColumn2 = 'OCORDDACLI' THEN OCORDDACLI
	--	END) DESC

	--	OFFSET @PageSize * (@PageNumber - 1) ROWS
	--	FETCH NEXT @PageSize ROWS ONLY

	--IF (@colOrder = 'OCORDTDORD,OCORDDCART,OCORDDACLI')
	--	SELECT * FROM #temp_ordi_cliente ORDER BY OCORDTDORD,OCORDDCART,OCORDDACLI
	--	OFFSET @PageSize * (@PageNumber - 1) ROWS
	--	FETCH NEXT @PageSize ROWS ONLY

	--IF (@colOrder = 'OCORDTDORD,OCORDDACLI,OCORDDCART')
	--	SELECT * FROM #temp_ordi_cliente ORDER BY OCORDTDORD,OCORDDACLI,OCORDDCART
	--	OFFSET @PageSize * (@PageNumber - 1) ROWS
	--	FETCH NEXT @PageSize ROWS ONLY

	--IF (@colOrder = 'OCORDDCART,OCORDTDORD,OCORDDACLI')
	--	SELECT * FROM #temp_ordi_cliente ORDER BY OCORDDACLI, OCORDDCART
	--	OFFSET @PageSize * (@PageNumber - 1) ROWS
	--	FETCH NEXT @PageSize ROWS ONLY

	--IF (@colOrder = 'OCORDDCART,OCORDDACLI,OCORDTDORD')
	--	SELECT * FROM #temp_ordi_cliente ORDER BY OCORDDCART,OCORDDACLI,OCORDTDORD
	--	OFFSET @PageSize * (@PageNumber - 1) ROWS
	--	FETCH NEXT @PageSize ROWS ONLY

	--IF (@colOrder = 'OCORDDACLI,OCORDTDORD,OCORDDCART')
	--	SELECT * FROM #temp_ordi_cliente ORDER BY OCORDDACLI,OCORDTDORD,OCORDDCART
	--	OFFSET @PageSize * (@PageNumber - 1) ROWS
	--	FETCH NEXT @PageSize ROWS ONLY

	--IF (@colOrder = 'OCORDDACLI,OCORDDCART,OCORDTDORD')
	--	SELECT * FROM #temp_ordi_cliente ORDER BY OCORDDACLI,OCORDDCART,OCORDTDORD
	--	OFFSET @PageSize * (@PageNumber - 1) ROWS
	--	FETCH NEXT @PageSize ROWS ONLY

	--DROP TABLE #temp_ordi_cliente


